.street {
    width: 100%;
    height: 100%;

    background-image: url('/images/backgrounds/collage_vehicles_background.png');  background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}