<div class="container">
  <app-layer-wrapper>
    <app-underground bg-layer></app-underground>

    <div class="content">
      <app-narrative-text
        textKey="SCENES.FUEL_SOURCES.TEXT_1"
        [startDelay]="story.transition().textDelay"
        setTabIndexOne
      />
      <div class="interactive-object coal" (click)="activateCoal()" (keydown.space)="activateCoal()" [class.active]="isCoalActive()" tabindex="0">
        <img src="images/scenes/fuel-sources/coal.png" width="220" alt="Coal" />

        @if (isCoalActive()) {
          <div class="glow"></div>
          <div class="bubble-container">
            <app-narrative-text textKey="SCENES.FUEL_SOURCES.COAL_BUBBLE" />
          </div>
        }
      </div>

      <div class="interactive-object oil" (click)="activateOil()" (keydown.space)="activateOil()" [class.active]="isOilActive()" tabindex="0">
        <img src="images/scenes/fuel-sources/oil.png" width="240" alt="Oil" />

        @if (isOilActive()) {
          <div class="glow"></div>
          <div class="bubble-container">
            <app-narrative-text textKey="SCENES.FUEL_SOURCES.OIL_BUBBLE"/>

          </div>
        }
      </div>

    </div>
  </app-layer-wrapper>
</div>
