<div class="container">
  <app-narrative-text
    [text]="'SCENES.NEARBY_FACTORIES.TEXT_1' | translate"
    [startDelay]="story.transition().textDelay"
  />

  <!-- factory image in the middle -->
  <div class="factory">
    <img
      src="images/scenes/burning-fuels/factory.png"
      width="240"
      alt="Factory"
    />
  </div>

  <!-- clickable fuel on the left -->
  <ng-container *ngIf="showFuel()">
    <div
      class="fuel"
      [class.clicked]="fuelClicked()"
      (click)="clickFuel()"
      (keydown.space)="clickFuel()"
      (keydown.enter)="clickFuel()"
      tabindex="0"
    >
      <img src="/images/scenes/nearby-factories/coal-icon.png" alt="Coal" />
    </div>
  </ng-container>

  <ng-container *ngIf="showOutput()">
    <div class="output" [class.moved]="outputMoved()">
      <img src="/images/scenes/nearby-factories/electricity-icon.png" alt="Electricity" />
    </div>
  </ng-container>
</div>
