<div class="container">
  <app-layer-wrapper>

    <app-grass-road bg-layer></app-grass-road>

    <div class="pollution-overlay" [style.opacity]="smogOpacity()"></div>

    <div class="content">

      @if (activeSituationId() !== null) {

        <div class="popup-backdrop"
            (click)="activeSituationId.set(null);
            $event.stopPropagation()">
        </div>
      }

      <app-narrative-text
        [textKey]="currentNarrativeKey()"
        [textParams]="currentNarrativeParams()"
        (completed)="onFinalNarrativeCompleted()"
      />


      <img src="images/scenes/solutions/house.png" alt="house with chimney" height="40%" style="position: relative; left: 70%; top: 16%">

      <div class="scene-items" [style.pointer-events]="allSituationsAnswered() ? 'none' : 'auto'">
        @for (situation of situations; track situation.id) {
          <div class="scene-item"
               [style.top]="situation.top"
               [style.left]="situation.left"
               [class.active]="activeSituationId() === situation.id"
               [class.solved]="isAnswered(situation.id) && isAnsweredCorrectly(situation.id)"
               [class.solved-incorrect]="isAnswered(situation.id) && !isAnsweredCorrectly(situation.id)"
               role="button"
               tabindex="0"
               (click)="toggleSituation(situation.id)"
               (keydown.enter)="toggleSituation(situation.id)"
               (keydown.space)="toggleSituation(situation.id); $event.preventDefault()">

            <div class="item-image">
              @if (situation.image) {
                <img [src]="'images/scenes/' + situation.image"
                    [alt]=situation.alt
                    [style.height]="situation.height"
                />
              }
            </div>

          </div>
        }
      </div>

      @if (activeSituation()) {
        <div class="info-popup"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()"
            tabindex="0"
            cdkTrapFocus
            cdkTrapFocusAutoCapture
            aria-live="polite"
        >

          @if (!selections().has(activeSituation()!.id)) {
            <h3>{{ 'SCENES.SOLUTIONS.PROMPT_CHOICE' | translate }}</h3>
            <div class="options-container">
              @for (option of activeSituation()!.options; track option.id) {
                <div class="option-choice">
                  <h4 >{{ 'SCENES.SOLUTIONS.SITUATIONS.' + activeSituation()!.id + '.OPTIONS.' + option.id + '.TITLE' | translate }}</h4>
                  <p>{{ 'SCENES.SOLUTIONS.SITUATIONS.' + activeSituation()!.id + '.OPTIONS.' + option.id + '.DESC' | translate }}</p>
                  <div [id]="'option'+option.id" class="cdk-visually-hidden">
                  {{('SCENES.SOLUTIONS.SITUATIONS.' + activeSituation()!.id + '.OPTIONS.' + option.id + '.TITLE' | translate )
                  + ' ' + ('SCENES.SOLUTIONS.BUTTON_SELECT' | translate) }}
                  </div>
                  <button
                    class="action-btn"
                    (click)="takeAction(activeSituation()!.id, option.id)"
                    [attr.aria-labelledby]="'option'+option.id"
                    >
                    {{ ('SCENES.SOLUTIONS.BUTTON_SELECT' | translate)}}
                  </button>
                </div>
              }
            </div>
          } @else {
            <div class="selection-feedback">
              @if (
                (selections().get(activeSituation()!.id) === activeSituation()!.options[0].id && activeSituation()!.options[0].isCorrect) ||
                (selections().get(activeSituation()!.id) === activeSituation()!.options[1].id && activeSituation()!.options[1].isCorrect)
              ) {
                <h3 class="solved-text" style="margin-top: 0; font-size: 1.25rem;">{{ 'SCENES.SOLUTIONS.FEEDBACK_CORRECT' | translate }}</h3>
              } @else {
                <h3 class="solved-text incorrect" style="margin-top: 0; font-size: 1.25rem;">{{ 'SCENES.SOLUTIONS.FEEDBACK_INCORRECT' | translate }}</h3>
              }

              <p>
                @if (selections().get(activeSituation()!.id) === activeSituation()!.options[0].id) {
                  {{ 'SCENES.SOLUTIONS.SITUATIONS.' + activeSituation()!.id + '.OPTIONS.' + activeSituation()!.options[0].id + '.FEEDBACK' | translate }}
                } @else {
                  {{ 'SCENES.SOLUTIONS.SITUATIONS.' + activeSituation()!.id + '.OPTIONS.' + activeSituation()!.options[1].id + '.FEEDBACK' | translate }}
                }
              </p>

              <div class="feedback-actions">
                <button class="action-btn secondary" (click)="selections().delete(activeSituation()!.id); $event.preventDefault()">
                  {{ 'SCENES.SOLUTIONS.BUTTON_CHANGE' | translate }}
                </button>
                <button class="action-btn" (click)="activeSituationId.set(null); $event.preventDefault()">
                  {{ 'SCENES.SOLUTIONS.BUTTON_CLOSE' | translate }}
                </button>
              </div>
            </div>
          }
        </div>
      }

      @if (!isDone() && selections().size >= REQUIRED_CHOICES_TO_FINISH) {
        <button class="action-btn"
                style="position: absolute; bottom: 5%; right: 5%; z-index: 100;"
                (click)="finishScene()">
          {{ 'SCENES.SOLUTIONS.DONE_BUTTON' | translate }}
        </button>
      }
    </div>

  </app-layer-wrapper>
</div>
