.sunless-city {
    width: 100%;
    height: 100%;

    background-image: url('/images/backgrounds/sunless-cityscape.png');  background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}