.scene-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.scene {
  position: absolute;
  inset: 0;
}

.previous { z-index: 1; }
.intermediate { z-index: 2; pointer-events: none; }
.current { z-index: 3; }

// fade scene transition definition
// applies to: all unless overridden (default)
.scene-container.fade.transitioning {
  .current {
    animation: fadeIn var(--duration) ease forwards;
  }

  .previous {
    animation: fadeOut var(--duration) ease forwards;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

// slide up scene transition definition
// applies to: morning->vehicle-types
.scene-container.slide-up.transitioning {
  .previous {
    animation: slideOutUp var(--duration) ease forwards;
  }

  .current {
    animation: slideInUp var(--duration) ease forwards;
  }

  .intermediate {
    animation: slideThroughUp var(--duration) ease forwards;
  }
}

@keyframes slideInUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

@keyframes slideOutUp {
  from { transform: translateY(0); }
  to { transform: translateY(-100%); }
}

@keyframes slideThroughUp {
  from { transform: translateY(100%); }
  to { transform: translateY(-100%); }
}

// slide down scene transition definition
// applies to: health-impacts->sunny-day,
//             gather-ingredients->ozone-molecule
.scene-container.slide-down.transitioning {
  .previous {
    animation: slideOutDown var(--duration) ease forwards;
  }

  .current {
    animation: slideInDown var(--duration) ease forwards;
  }

  .intermediate {
    animation: slideThroughDown var(--duration) ease forwards;
  }
}

@keyframes slideInDown {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

@keyframes slideOutDown {
  from { transform: translateY(0); }
  to { transform: translateY(100%); }
}

@keyframes slideThroughDown {
  from { transform: translateY(-100%); }
  to { transform: translateY(100%); }
}

// slide left scene transition definition
// applies to: nearby-factories->burning-fuels,
//             burning-fuels->air
.scene-container.slide-left.transitioning {
  .previous {
    animation: slideOutLeft var(--duration) ease forwards;
  }

  .current {
    animation: slideInLeft var(--duration) ease forwards;
  }

  .intermediate {
    animation: slideThroughLeft var(--duration) ease forwards;
  }
}

@keyframes slideInLeft {
  from { transform: translateX(100%); }
  to   { transform: translateX(0); }
}

@keyframes slideOutLeft {
  from { transform: translateX(0); }
  to   { transform: translateX(-100%); }
}

@keyframes slideThroughLeft {
  from { transform: translateX(100%); }
  to   { transform: translateX(-100%); }
}

// slide right scene transition definition
// applies to: air->air-pollution,
//             air-pollution->health-impacts
.scene-container.slide-right.transitioning {
  .previous {
    animation: slideOutRight var(--duration) ease forwards;
  }

  .current {
    animation: slideInRight var(--duration) ease forwards;
  }

  .intermediate {
    animation: slideThroughRight var(--duration) ease forwards;
  }
}

@keyframes slideInRight {
  from { transform: translateX(-100%); }
  to   { transform: translateX(0); }
}

@keyframes slideOutRight {
  from { transform: translateX(0); }
  to   { transform: translateX(100%); }
}

@keyframes slideThroughRight {
  from { transform: translateX(-100%); }
  to   { transform: translateX(100%); }
}