.container {
  height: 100%;
  width: 100%;
  background-color: #87ceeb;
}

.bottom-text {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  z-index: 10;
}


.earth {
  position: absolute;
  right: 100px;
  top: 100px;
  height: 80vh;
  // animation: slow-spin 40s linear infinite;
  z-index: 10;
}

#sun {
  animation: slow-spin 80s linear infinite;
  z-index: 20;
}

.sunrays2 {
  position: absolute;
  bottom: -110%;
  left: -130vh;
  height: 350%;
  animation: slow-spin 40s linear infinite;
  transform-origin: center;
  box-shadow: #87ceeb;
}

.rays {
  position: absolute;
  bottom: -1250px;
  left: -1200px;
  animation: slow-spin 10s linear infinite;
  z-index: 0;
}

@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble-wobble {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}