.container {
  height: 100%;
  width: 100%;
  background-color: #a8a8a8;
}

.ozone-cloud{
    width: 30vh;
    aspect-ratio: 1;
    border-radius: 50%;
    background: rgba(87, 59, 15, 0.9);
    border: 0.5vh solid #000000;
    position: absolute;
    display: flex;
    bottom: 40vh;
    right: 25vw;
    align-items: center;
}
.sun {
  position: absolute;
  top: -25vh;
  left: 17vw;
  height: 40vh;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 6;
  background-color: #ffc200;
}

.image{
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
}
#polition-sources {
    display:flex;
    gap: 2vw;
    margin-top: 40vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
}

#paint-cans{
    position: relative;
    flex: 0, 0;
    aspect-ratio: 3 / 2;
    height: 25vh;

    background-image: url("/images/paintCans.png");
}
#car{
    background-image: url("/images/scenes/burning-fuels/car.png");
    position: relative;
    // left: 30rem;
    // top: 5rem;
    aspect-ratio: 3 / 2;
    height: 25vh;
}

#factory{
    background-image: url("/images/scenes/burning-fuels/factory.png");
    position: relative;
    aspect-ratio: 1;
    height: 35vh;
}


.molecule-circle {
  width: 7.5vh;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  border: 0.5vh solid #007bff;
  display: flex;
  flex: 0, 0;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
  ;
}
