<div class="container">
    @if (story.isSceneCompleted()) {
        <app-narrative-text [text]="'SCENES.GATHER_INGREDIENTS.INGREDIENTS_GATHERED_BUBBLE' | translate" />
    } @else {
        <app-narrative-text
            [text]="'SCENES.GATHER_INGREDIENTS.TEXT_1' | translate"
        />
    }

<div id="factory" role="img" class="image" aria-label="factory">
    @for (item of factoryContents; track item){
        <div class="molecule-circle" 
        cdkDrag
        inOzoneCloud="false"
        (cdkDragEnded)="handleDragEnd($event)"
        >
            <span class="molecule-label">{{item}}</span>
        </div>
    }
</div>
<div id="car" role="img" class="image" aria-label="car">
    @for (item of carContents; track item){
        <div class="molecule-circle" 
        inOzoneCloud="false"
        cdkDrag
        (cdkDragEnded)="handleDragEnd($event)"
        >
            <span class="molecule-label">{{item}}</span>
        </div>
    }
</div>
<div id="paint-cans" role="img" class="image" aria-label="3 paint cans of various colors">
    @for (item of paintCanContents; track item){
        <div class="molecule-circle" 
        cdkDrag
        inOzoneCloud="false"
        (cdkDragEnded)="handleDragEnd($event)"
        >
            <span class="molecule-label">{{item}}</span>
        </div>
    }
</div>
  <div
    class="smog ozone-cloud"
    title="creating ozone"
    id="ozone-cloud"
  >
  </div>
</div>

