 <div class="container">
  <app-layer-wrapper>
    <app-sunless-city bg-layer></app-sunless-city>
    <div id="narrative-area">
      @if (!moleculesGathered()) {
        <app-narrative-text textKey="SCENES.GATHER_INGREDIENTS.INGREDIENT_EXPLAINATION" />
      } @else if (!story.isSceneCompleted()) {
        <app-narrative-text textKey="SCENES.GATHER_INGREDIENTS.INSTRUCTIONS_1" />
      } 
    </div>

    <div id="polition-sources">

      <div id="factory" role="group" class="image source-card" aria-label="factory">
        @for (item of moleculesInFactory(); track item.id) {
            <div class="molecule-circle"
              [style.top]="item.top"
              [style.left]="item.left"
              [class.pulsing]="!moleculesGathered()"
              tabindex="0"
              cdkDrag
              id="molecule{{item.id}}"
              (cdkDragEnded)="handleDragEnd($event)"
              (keydown.space)="handleMoveMolecule($event)"
              (keydown.enter)="handleMoveMolecule($event)"
              (click)="handleMoveMolecule($event)"
              [aria-label]="item.label"
            >
              <span class="molecule-label" aria-hidden="true">{{item.label}}</span>
            </div>
        }
      </div>

      <div id="paint-cans" role="group" class="image source-card" aria-label="3 paint cans of various colors">
        @for (item of moleculesInPaint(); track item.id) {
            <div class="molecule-circle"
              [style.top]="item.top"
              [style.left]="item.left"
              [class.pulsing]="!moleculesGathered()"
              tabindex="0"
              cdkDrag
              id="molecule{{item.id}}"
              (cdkDragEnded)="handleDragEnd($event)"
              (keydown.space)="handleMoveMolecule($event)"
              (keydown.enter)="handleMoveMolecule($event)"
              (click)="handleMoveMolecule($event)"
            >
              <span class="molecule-label">{{item.label}}</span>
            </div>
        }
      </div>

      <div id="car" role="group" class="image source-card" aria-label="car">
        @for (item of moleculesInCar(); track item.id) {
            <div class="molecule-circle"
              [style.top]="item.top"
              [style.left]="item.left"
              [class.pulsing]="!moleculesGathered()"
              tabindex="0"
              cdkDrag
              id="molecule{{item.id}}"
              (cdkDragEnded)="handleDragEnd($event)"
              (keydown.space)="handleMoveMolecule($event)"
              (keydown.enter)="handleMoveMolecule($event)"
              (click)="handleMoveMolecule($event)"
            >
              <span class="molecule-label">{{item.label}}</span>
            </div>
        }
      </div>
    </div>

    <button
    class="button image sun"
    [class.pulsing]="moleculesGathered()"
    [class.sun-active]="sunClicked"
    aria-label="sun"
    [disabled]="!moleculesGathered()"
    (click)="onSunClicked()"
    >
    </button>

    <div id="ozone-cloud" title="creating ozone">
        <div class="smog-cloud" [class.glowing]="!moleculesGathered()"></div>

        @for (item of moleculesInSmog(); track item.id) {
                <div class="molecule-circle"
                    [style.top]="item.top"
                    [style.left]="item.left"
                    tabindex="0"
                    cdkDrag
                    id="molecule{{item.id}}"
                    (cdkDragEnded)="handleDragEnd($event)"
                    (keydown.space)="handleMoveMolecule($event)"
                    (keydown.enter)="handleMoveMolecule($event)"
                    (click)="handleMoveMolecule($event)"
                >
                    <span class="molecule-label">{{item.label}}</span>
                </div>
        }
    </div>
  </app-layer-wrapper>
</div>