<div class="container">
  <app-narrative-text
    [text]="'SCENES.GATHER_INGREDIENTS.TEXT_1' | translate"
    (completed)="story.nextScene()"
  />

   <div
    class="smog "
    cdkDropList
    #smog="cdkDropList"
    [cdkDropListData]="smogParticals"
    [cdkDropListConnectedTo]="startingZoneOne"
    (cdkDropListDropped)="drop($event)"
   > 

    @for (item of smogParticals; track item){
        <div class="molecule-circle" cdkDrag>
            <span class="molecule-label">{{item}}</span>
        </div>
    }
    </div>
   
  <div
    class="smog ozone-cloud"
    cdkDropList
    #startingZoneOne="cdkDropList"
    [cdkDropListData]="molecules1"
    [cdkDropListConnectedTo]="smog"
    (cdkDropListDropped)="drop($event)"
  >
    @for (item of molecules1; track item){
        <div class="molecule-circle" cdkDrag>
            <span class="molecule-label">{{item}}</span>
        </div>
    }
</div>
</div>