.container {
  height: 100%;
  width: 100%;
}

.sun {
  position: absolute;
  top: -25rem;
  left: 50%;
  transform: translateX(-50%);
  
  width: 20rem;
  height: 20rem;
  background-color: #FFD700;
  border: 1.5rem solid #FFA500;
  border-radius: 50%;

  filter: drop-shadow(-10px 7px 3px rgba(0,0,0,0.7));

  animation: sun-drop 2s ease-out forwards;
}

@keyframes sun-drop {
  0% {
    top: -25rem;
  }
  100% {
    top: 18vh;
  }
}