.cloud-layer {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.cloud {
    height: 180px; /* control the size */
    aspect-ratio: 1.8;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: white;
}

#cloud-1 {
  position: absolute;
  top: 12%;
  left: 8%;
  transform: scale(1.0);
  opacity: 0.95;
}

#cloud-2 {
  position: absolute;
  top: 22%;
  left: 42%;
  transform: scale(1.25);
  opacity: 0.85;
}

#cloud-3 {
  position: absolute;
  top: 10%;
  left: 70%;
  transform: scale(0.9);
  opacity: 0.9;
}