<div class="container">
  <app-layer-wrapper>
    <app-sky-grass bg-layer style="z-index: -10;"></app-sky-grass>
    <!-- <div class="sun-container">
      <div class="sun"></div>
    </div> -->
    <app-clouds></app-clouds>

    <!-- Molecules show up when selected -->
    <div class="molecule-display">
      <div class="molecule-circle" [class.visible]="isMoleculeVisible('n2')">
        <!-- <span class="molecule-label">N₂</span> -->
        <img alt="N2 Molecule" class="molecule-2" src="images/molecules/N2.png"/>
      </div>
      <div class="molecule-circle" [class.visible]="isMoleculeVisible('o2')">
        <img alt="O2 Molecule" class="molecule-2" src="images/molecules/O2.png"/>
      </div>
      <div class="molecule-circle" [class.visible]="isMoleculeVisible('other')">
        <img alt="Various Small Molecules" class="molecule-2" src="images/molecules/Various.png"/>
        <!-- <span class="molecule-label">Other</span> -->
      </div>
    </div>

    @if (!showSecondText) {
    <app-narrative-text [text]="'SCENES.AIR.NARRATIVE' | translate" 
    [startDelay]="story.transition().textDelay" />
    }

    @if (showSecondText) {
    <div class="bottom-text">
      <app-narrative-text [text]="'SCENES.AIR.POST_CHOICE_TEXT' | translate" 
      [startDelay]="200" />
    </div>
    }

    <app-multiple-choice [question]="'What gases are in Earth\'s atmosphere?'" [options]="[
        { id: 'n2', label: 'N₂', isCorrect: true },
        { id: 'o2', label: 'O₂', isCorrect: true },
        { id: 'f2', label: 'F₂', isCorrect: false },
        { id: 'c2', label: 'C₂', isCorrect: false },
        { id: 'other', label: 'Small Amounts of Other Gases', isCorrect: true }
      ]" (optionSelected)="onOptionSelected($event)"></app-multiple-choice>
  </app-layer-wrapper>
</div>