.title {
  font-size: 3rem;
  margin-bottom: 30px;
}

.start-btn {
  padding: 15px 30px;
  font-size: 1.4rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: white;
  color: #1e88e5;
  font-weight: bold;
}
